<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Pokemon</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="pokemon-main mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="pokemon-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="pokemon-title mdl-layout-title">
            <img class="pokemon-logo-image" src="images/pokemon-logo.png">
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="pokemon-header-spacer mdl-layout-spacer"></div>
          <div class="pokemon-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <!-- Navigation -->
          <div class="pokemon-navigation-container">
            <nav class="pokemon-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/trainers">Trainers</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/pokemon">Pokemón</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">Gym</a>
            </nav>
          </div>
          <span class="pokemon-mobile-title mdl-layout-title">
            <img class="pokemon-logo-image" src="images/pokemon-logo.png">
          </span>


        </div>
      </div>

      <div class="pokemon-content mdl-layout__content">
        <div class="app-content pokemon-wear-section">
        </div>

        <footer class="pokemon-footer mdl-mega-footer">
          Your slogan.
        </footer>
      </div>
    </div>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  </body>
</html>
