<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

<span style="color:white">Trainers home page.</span>

<button type="button" name="button" id="add_new">+ Add New Trainer</button>

<script type="text/javascript">
   var btn = document.getElementById("add_new");
   var passedInData = '<%= passedInData %>' ;
   btn.addEventListener("click", function(){
     alert("the button works, and we see "+passedInData);
   })

</script>
